{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="box1 col-md-2">
            <h3 class="mt-5">音源の選択</h3>
        </div>
        <hr>
    </div>
</div>

<div class="container">
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile">
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script>
bsCustomFileInput.init();
</script>

<div class="container">
    <div class="row">
        <div class="box1 col-md-2">
            <h3 class="mt-5">実行</h3>
        </div>
        <hr>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="box1 col-md-2">
            <h3 class="mt-5">可視化</h3>
        </div>
        <hr>
    </div>
</div>

{% endblock %}